<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>
    <link rel="stylesheet" href="/css/hormigueros.css">
    <title>Hormigueros</title>
    </head>

    <body>

        <%- include('partials/header') %>

            <main>
                <div class="ants_text_container">
                    <div class="ants_text">
                        <h3>Hormigueros</h3>
                    </div>
                </div>


                <section class="ant_container">
                    <div class="ant_content">
                        <div class="ant_box_container">

                            <% nests.forEach((nest)=>{ %>
                                <a class="ant_box" href="/product/<%= nest.id %>">
                                    <div class="ant_img_container">
                                        <img class="ant_img" src="/images/products/<%= nest.image%>" alt="fotoProducto">
                                    </div>
                                    <div class="ant_desciption">
                                        <b><%=nest.name%></b>
                                        <p>$ <%=nest.price%></p>
                                        <p>Ver producto</p>
                                    </div>
                                </a>
                                <% }) %>

                        </div>
                    </div>
                </section>

            </main>

            <%- include('partials/footer') %>