<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>
    <link rel="stylesheet" href="/css/hormigas.css">
    <title>Hormigas</title>
    </head>

    <body>

        <%- include('partials/header') %>

            <main>
                <div class="ants_text_container">
                    <div class="ants_text">
                        <h3>Hormigas</h3>
                    </div>
                </div>


                <section class="ant_container">
                    <div class="ant_content">
                        <div class="ant_text">
                            <h4>Camponotus</h4>
                        </div>
                        <div class="ant_box_container">

                            <% products.forEach((product)=> { %>
                                <% if(product.category==="ant" && product.class === "Camponotus" ){ %>
                                    <a class="ant_box" href="/product/<%= product.id %>">
                                        <div class="ant_img_container">
                                            <img class="ant_img" src="/images/products/<%= product.image %>"
                                                alt="fotoProducto">
                                        </div>
                                        <div class="ant_desciption">
                                            <b>
                                                <%= product.name %>
                                            </b>
                                            <p>$ <%= product.price %>
                                            </p>
                                            <p>Ver producto</p>
                                        </div>
                                    </a>
                                    <% }}) %>

                        </div>
                    </div>
                </section>

                <section class="ant_container">
                    <div class="ant_content">
                        <div class="ant_text">
                            <h4>Pseudomirmex</h4>
                        </div>
                        <div class="ant_box_container">
                            <div class="ant_box">
                                <div class="ant_img_container">
                                    <img class="ant_img" src="/images/hormigas/Reina-camponotus.jpg" alt="fotoProducto">
                                </div>
                                <div class="ant_desciption">
                                    <b>Pseudomirmex-Muss</b>
                                    <p>$12.000</p>
                                    <p>Ver producto</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="ant_container">
                    <div class="ant_content">
                        <div class="ant_text">
                            <h4>Crematogaster</h4>
                        </div>
                        <div class="ant_box_container">
                            <div class="ant_box">
                                <div class="ant_img_container">
                                    <img class="ant_img" src="/images/hormigas/Reina-camponotus.jpg" alt="fotoProducto">
                                </div>
                                <div class="ant_desciption">
                                    <b>Crematogaster-Muss</b>
                                    <p>$12.000</p>
                                    <p>Ver producto</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <%- include('partials/footer') %>


