<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
    <link rel="stylesheet" href="/css/login.css">
    <title>Register</title>
    </head>

    <body>

        <%- include('partials/header') %>

            <main>
                <div class="text_container">
                    <div class="text">
                        <h3>Registrarme</h3>
                    </div>
                </div>

                <div class="form_container">
                    <form action="/users/register" method="POST">
                        <input type="text" name="name" id="name" placeholder="Nombre"
                        value="<%= locals.oldData && oldData.name ? oldData.name : '' %>">
                        <div>
                            <% if(locals.errors && errors.name){  %>
                                <p> <%= errors.name.msg %></p>
                            <% };%> 
                        </div>

                        <input type="email" name="email" id="email" placeholder="Email"
                        value="<%= locals.oldData && oldData.email ? oldData.email : '' %>">
                        <div>
                            <% if(locals.errors && errors.email){  %>
                                <p> <%= errors.email.msg %></p>
                            <% };%> 
                        </div>

                        <input type="password" name="password" id="password" placeholder="Password">
                        <div>
                            <% if(locals.errors && errors.password){  %>
                                <p> <%= errors.password.msg %></p>
                            <% };%> 
                        </div>

                        <button type="submit">Registrarme</button>
                    </form>
                </div>


            </main>

            <%- include('partials/footer') %>